.deseo{
    width: 500px;
    height: 300px;
    background: #ffff;
    margin-left: -430px;
    margin-top: 5px;
    border-radius: 5px;
    background: linear-gradient(45deg, gold, orange,white,orange, gold);
    box-shadow: 10px 10px 10px #3d3939; 
    z-index: 10000;
    padding: 20px;
    display: none;
}

.showCard{
    transition: all .5s ease;
    display: block;
}

#btn_close{
    border: 2px solid green;
    background: red;
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;

}

#btn_close:hover{
    box-shadow: 10px 10px 10px #3d3939;
    transition: all .5s ease;
}



/* ⭐ ESTRELLAS */

.star{
  position: fixed;
  font-size: 20px;
  color: gold;
  pointer-events: none;
  z-index: 10001; /* 🔥 MÁS ALTO QUE .deseo */
  animation: star 1s ease-out forwards;
}


@keyframes star{
  from{
    opacity: 1;
    transform: scale(0);
  }
  to{
    opacity: 0;
    transform: scale(1.5) translateY(-60px);
  }
}
